.back-vid{
    position:absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}  
  @media (max-aspect-ratio: 16/9){
    .back-vid{
      width: auto;
      height: 100%;
    }
  }
  
  @media (min-aspect-ratio: 16/9){
    .back-vid{
      width: 100%;
      height: auto;
    }
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
  }
  nav h1{
    margin: 10px;
    padding: 10px;
    color: white;
    line-height: 1;
    font-size: 50px;
    font-weight: 900;
  }
  
  nav ul{
    list-style: none;
    display: flex;
  }
  
  nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
    padding: 0px 20px;
  }
  
  nav a:hover ,.active
   {
    color : #4acfee;
    text-decoration: underline;
  }
  .about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .hero-img{
    margin: 50px;
    width: 400px;
    height: 400px;
    background-color: none;
    position:relative;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 20px #4eddfd;
    transition: 1s;
  }
  
  .hero-img:hover{
    box-shadow: 0 0 40px #4acfee;
  }
  
  .hero-img img{
    position: absolute;
    width: 85%;
    mix-blend-mode: lighten;
  }
.about-text{
    font-size: 30px;
    font-weight: 600;
    color: white;
    line-height:1.7;
    margin: 0px 0px 0px;  
}
.about-text p{
    color: aliceblue;
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.know-more{
    margin-top: 15px;
    display: inline-block;
    padding: 12px 28px;
    background: #4acfee;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing:none;
    font-weight: 600;
  }
  .know-more:hover{
    color: white;
    box-shadow: 0 0 10px #4acfee;
  }