
 
  .back-vid{
    position:absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  
  @media (max-aspect-ratio: 16/9){
    .back-vid{
      width: auto;
      height: 100%;
    }
  }
  
  @media (min-aspect-ratio: 16/9){
    .back-vid{
      width: 100%;
      height: auto;
    }
  }
body{color:white}
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}
 nav h1{
    padding:10px;
    margin:10px;
    font-size: 60px;
    line-height: 1;
    text-align: center;
}
h1 span{
    color:#4acfee;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
  }
  
  nav ul{
    list-style: none;
    display: flex;
  }
  
  nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
    padding: 0px 25px;
  }
  
  nav a:hover ,.active
   {
    color : #4acfee;
    text-decoration: underline;
  }
.contact-text h3{
    margin:10px 0;
    color:rgb(228,228,228);
    font-size:20px;
    font-weight:600;
}
.contact-list {
    margin-bottom:3rem;
}
.contact-list li{
    margin-bottom:10px;
    display:block;
}
.contact-list li{
    margin-bottom:10px;
    display:block;

}
.contact-list i{
    display: inline-block;
    color: #4acfee;
    font-size:20px;
    font-weight:600;
    transition:all .40s ease;
}
.contact-list li a:hover{
    transform:scale(1.01) translateY(-5px);
    color: #4acfee;
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
   
    border:2px solid #4acfee;
    border-radius: 50%;
    font-size: 20px;
   color: #4acfee;
   text-decoration: none;
   margin: 30px 15px 30px 0;
   transition: .5s ease;
   opacity:1;
   animation: slideLeft is ease forwards;
   animation-delay: calc(.2s *var(--i));

}
.contact-icons i:hover{
    background:#4acfee;
    color:white;
    box-shadow: 0 0 20px #4acfee;
}

.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 10px;
    color:black;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize:none;
    height: 220px;
}
.contact-form form .send{
  margin-top: 15px;
  display: inline-block;
  padding: 12px 28px;
  background: #4acfee;
  border-radius: 40px;
  font-size: 16px;
  color: black;
  letter-spacing:none;
  font-weight: 600;
}
.contact-form form .send:hover{
    background:#4acfee;
    color:white;
    box-shadow: 0 0 20px #4acfee;
}
